TOKEN=tu_token_de_discord_aqui
CLIENT_ID=tu_client_id_aqui
GEMINI_API_KEY=tu_api_key_de_gemini_aqui
YOUTUBE_COOKIE=ruta_o_cookie_de_youtube
DP_FORCE_YTDL_MOD=youtube-ext
GENIUS_TOKEN=tu_token_de_genius_aqui
HF_TOKEN=tu_token_de_huggingface_aqui
VIRUSTOTAL_KEY=tu_api_key_de_virustotal_aqui
GOOGLE_SAFE_BROWSING_KEY=tu_api_key_de_google_safe_browsing_aqui
IPQS_KEY=tu_api_key_de_ipqs_aqui
URLSCAN_KEY=tu_api_key_de_urlscan_aqui
URLHAUS_KEY=tu_api_key_de_urlhaus_aqui